@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <body>
        <script type="text/javascript">
            window.history.forward();
        </script>
    </body>
</html>
